*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
} 
#main{
    height: 100%;
    width: 100%; 
    background-color: #F8F8F8;
    padding-top: 1px;
    
}
#nav{
    height: 90px;
    width: 100%;
    /*background-color: crimson;*/
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /*background-color: crimson;*/
    height: 100%;
    width:18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'monument extended';
    font-size: 36px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: gilroy;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 18px;
}
#nav h2{
    /*background-color: greenyellow;*/
    height: 100%;
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 24px;
    font-weight: 600;
}
#nav h2:nth-last-child(1){ /*matlab aakhri beta*/
    
    width: 12%;
}
#center{
    height: calc(100% - 130px);
    width: 100%;
    /*background-color: crimson;*/
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #F8F8F8;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}
#over1 h1{
   font-family: 'monument extended';
   font-size: 3vw;
   mix-blend-mode: difference;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2vw;
    /*background-color: blue;*/
    border-radius: 50%;
    border: 1px solid #F8F8F8;
    border-bottom: 2px solid #F8F8F8;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #F8F8F8;
    padding: 1.5vw 0vw;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 4vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /*background-color: crimson;*/
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#container{
    height: 100%;
    width: 100%;
    /*background-color: rgb(77, 7, 217);*/
    display: inline-block;
    padding: 2vw;  
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container img{
    height: 100%;
    border-radius: 50%;
    margin: 1vw;
    width: 15%;
    object-fit: cover;
    object-position: top;
    
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.7vw;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
}
#alphabet h5{
    font-size: 2vw;
    font: 400;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    font-style: italic;
    letter-spacing: 4px;
}
#alphabet h6{
    font-size: 1vw;
    font: 400;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    padding: .5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0) solid;
    margin-right: .2vw;
    transition: all-ease 0.2s;
}
#alphabet h6:hover{
    border: 1px rgb(0, 0, 0) solid;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1614769842648-a7a303dd27a6?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 60%;/*left se kitna push, right se kitna*/
    border-radius: 10px;

}
#part2{
    height: 100%;
    width: 45%;
}
#part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#part2_text{
   display: flex;
   font-family: 'montserrat';
   gap: 5vw;
   margin-top: 3vh;
}
#part2_text h2{
    font-weight: 500;
}
#page3{
    
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw 5vw;
}
#page3>h1{  /*direct child of page3 wala h1*/
    font-family: 'monument extended';
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
    /*font-weight: 900;*/
}
.elem{
    height: 16vh;
    width: 100%;
    font-weight: 400;
    /*background-color: burlywood;*/
    border-top: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'monument extended';
    position: relative;
    padding: 0 2vw; /*upar neeche 0, right-left 2vw*/
}
.elem img{
    height: 125px;
    width:125px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    object-fit: cover;
    transition: all ease 0.7s;
}
.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:hover img{
    opacity: 1;
    left: 30%;   
}

.elem h4{
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 400;
    width: 7%;

}
.elem .elem-part2{
    /*background-color: red;*/
    width: 45%;
}
.elem-part2 h1{
    font-size: 2.4vw;
    font-weight: 200;
    letter-spacing: 1;
}
.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 300;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px black solid;
}
#marque{
    width: 100%;
    padding: 0.8vw;
    white-space: nowrap; /*this is used for the moving animation effect*/
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'monument extended';
    margin-right: 16px;
    letter-spacing: 3px;
    animation: move;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(calc(-100% - 20px));
    }  
}
.lastpage{
    height: 80%;
    width: 100%;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: top;
    margin-top: 10vh;
    
}
.lastpage img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.element{
    text-align: center;
}
.element h1{
    font-size: 3vw;
    font-family: 'monument extended';
    margin-right: 2vw;
}
.element1{
    width: 30%;  
}
.element1 h4{
    font-weight: 500;
    font-size: 2.8vh;
    font-family: 'Montserrat';
    margin-bottom: 56px;
    letter-spacing: -1;
}
.element2{
    width: 30%;
}
.element2 h4{
    font-weight: 500;
    font-size: 2.8vh;
    font-family: 'Montserrat';
    margin-bottom: 30px;
    letter-spacing: -1;
}
#footer{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px black solid;
    border-top: 2px black solid;    
}
#footer h1{
    display: flex;
    justify-content: center;
    font-family: 'monument extended';
    font-size: 36px;
    letter-spacing: -1px;
    position: relative;
    padding: 20px;
}
#footer h1::after{
    content: "©";
    font-family: gilroy;
    font-size: 20px;
    position: absolute;
    right: -3px;
    top: 12px;

}
#footer h2{
    width:40%;
    
    display: flex;
    justify-content: center;
    gap: 0;
    font-family: 'Montserrat';
    border-right: 2px black solid;
    padding-top: 30px;
    font-weight: 500;
}
#contact{
    margin-bottom: 40px;
}
#contact h2{
    padding-left: 20px;
    width: 100%;
    height: 15vh;
    margin-right: 40px;
    border-bottom: 2px black solid;
}
.icons{
    color: #4E4E4E;
    display: flex;
    gap: 15px;
    font-size: 20px;
    padding: 15px 20px;
}
.icons2{
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: 'Montserrat';
}


